<div id="storeContent" class="mt-6">
    <div id="categories" class="flex flex-row mb-6 justify-around flex-wrap	" *ngIf="categories.length > 0">
        <span [ngClass]="{'bg-myOrange': selectedCategory === null}"
            class="border p-2 rounded-md cursor-pointer duration-200 hover:bg-myOrange mr-2 bg-back_product text-white  mt-2"
            (click)="filterBy(null)">Tous</span>
        <span *ngFor="let category of categories" [ngClass]="{'bg-myOrange': selectedCategory === category}"
            class="border p-2 rounded-md cursor-pointer duration-200 hover:bg-myOrange mr-2 bg-back_product text-white mt-2"
            (click)="filterBy(category)">{{category.label}}</span>
    </div>
    <div id="productsList" class="flex flex-col">

        <app-product *ngFor="let product of products" [product]="product" [callback]="addCart" [type]="'store'"
            class="flex grow justify-center"></app-product>
    </div>
</div>