/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.customSnackBar {
    text-align: center;
    .mdc-snackbar__surface {
        background-color: #F9968B !important;
    }
    &.success {
        .mat-mdc-snack-bar-label {
            color: white !important;
        }
    }
    &.error {
        .mat-mdc-snack-bar-label {
            color: orange !important;
        }
    }
}


.customDialog .mat-mdc-dialog-surface {
    border-radius: 7px !important;
    background-color: transparent !important;
  }

.customSpinner circle {
    stroke: #F9968B !important;
  }